@import "../../theme/variables";

.app-logo {
  padding-top: 5px;
  width: 156px;
  display: inline-block;
  height: 50px;
}

.item-list {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
