<ion-header>
  <ion-navbar color="light">
    <ion-title>
      <img src="../../assets/imgs/mesh.png" class="app-logo"/>
    </ion-title>
    <ion-buttons end>
      <button *ngIf="staticItems.length >= 10" (click)="showSearchBar = !showSearchBar"  ion-button icon-only color="royal">
        <ion-icon ios="ios-search" md="md-search" color="primary"></ion-icon>
      </button>
      <button (click)="addListItem()" ion-button icon-only color="royal">
        <ion-icon ios="ios-add" md="md-add" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
    [animated]="true"
    *ngIf="showSearchBar"
    [(ngModel)]="searchTerm"
    [showCancelButton]="true"
    (ionInput)="onSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <ng-template #isListEmpty>
    <div text-center>
      There is nothing here! you can start by pressing the
      <ion-icon ios="ios-add" md="md-add"></ion-icon> icon and add a new Item!
    </div>
  </ng-template>
  <ion-list *ngIf="staticItems.length > 0; else isListEmpty" class="item-list" inset reorder="true" (ionItemReorder)="reorderItems($event)">
    <ng-container *ngFor="let item of items">
      <ion-item-sliding #itemContainer>
        <ion-item-options side="left">
          <button (click)="removeItem(item)" ion-button color="danger">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          </button>
        </ion-item-options>
        <ion-item>
          {{ item }}
        </ion-item>
        <ion-item-options side="right">
          <button (click)="editItem(item)" ion-button color="warning">
            Edit
            <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ng-container>
  </ion-list>
</ion-content>

<ion-footer text-center *ngIf="staticItems.length > 0">
  <ion-toolbar>
    <ion-title>
      <button ion-button color="primary" (click)="clearAll()">Clear All Data</button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
